
* {
        		box-sizing: border-box;
        	}
        	
        	.row {
        		content: "";
        		display: table; /* this part sets a table with two rows for my travel page */
        		clear: both;
    		}
    		
    		.columnLeft{
    			float: left;
    			width: 30%;
    			padding: 20px; /* This is my first column in my travel page which is set to be 30% width and it goes on the left side */
    		}
    		
    		.columnRight{
    			float: right;
    			width: 60%;    /* This is my second column in my travel page which is set to be 60% width and it goes on the right side */
    			padding: 20px;
    		}
        
        	.columnLeft2{
    			float: left;
    			width: 40%;   /* This is my third column in my travel page which is set to be 40% width and it goes on the left side right below my first column*/
    			padding: 20px;
        	}
        	.columnRight2{
    			float: left;
    			width: 50%;     /* This is my third column in my travel page which is set to be 50% width and it goes on the right side right below my second column*/
    			padding: 20px;
        	}

			/* This next portion of code, is my code I used in my recipe book */
			
			.Rrow {
        		content: "";
        		display: table; /* Same thing as before I have multiple columns, but this time I actually used 3 different rows. According to Mr Fender every time I open a table(row) it can only have two columns and then another row needs to be opened. In my travel page I used only one row and I should've used 2 but it still worked, I got lucky. */
        		clear: both;
    		}
    		
    		.RcolumnLeft{
    			float: left;
    			width: 55%;
    			padding: 20px;
    		}
    		
    		.RcolumnRight{
    			float: right;
    			width: 30%;
    			padding: 20px;
    		}
    		
    		.RcolumnLeft2{
    			float: left;
    			width: 45%;
    			padding: 20px;
    		}
    		
    		.RcolumnRight2{
    			float: right;
    			width: 48%;
    			padding: 20px;
    		}
    		.RcolumnLeft3{
    			float: left;
    			width: 50%;
    			padding: 20px;
    		}
    		
    		.RcolumnRight3{
    			float: right;
    			width: 43%;
    			padding: 20px;
    		}

			.Brow {
        		content: "";
        		display: table; /* this part sets a table with two rows for my Blog page */
        		clear: both;
			}
			
			.BcolumnLeft{
    			float: left;
    			width: 70%;
    			padding: 20px;
			}
			
			.BcolumnRight{
				float: right;
    			width: 28%;
    			padding: 20px;
				}
			
/* These 3 blocks of code create my menu bar */

ul.nav {
	list-style-type: none;
	background-color = green:
	margin: 0;
	padding: 0;	
	overflow: hidden;
	}

li.nav a{
	float: left;
	display: block;
	color: brown;
	padding: 8px 16px;
	}

li.nav a:hover{
	background-color: purple;
	color: white;
	}